{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/novel_edit.css' %}">
{% endblock %}

{% block content %}
    <div class="edit-novel">
        <h2>Edit Novel</h2>
        <form method="post" class="edit-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
        <a href="{% url 'novel_detail' pk=novel.pk %}" class="cancel">Cancel</a>
    </div>
{% endblock %}